
.notes {
	margin-left: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.note {
	display: inline-block;
	position: relative;
}

.note-button {
	position: relative;

	font-family: 'Arial', sans-serif;
	font-size: 2rem;
	width: 3rem;
	padding: 7rem 0 0.5rem;
	user-select: none;

	appearance: none;
	background: transparent;
	border: 1px solid black;
	border-image: linear-gradient(to bottom, transparent 20%, black 100%);
 	border-image-slice: 1;

	&:active {
		color: black;

		&:before {
			transform: translateY(-5%) translateX(-50%);
		}
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 0 3px transparentize(pink, 0.5);
	}

	&:before,
	& ~ .ledger-line {
		position: absolute;
		top: 0;
		font-size: 5rem;
	}

	&:before {
		content: '♩';
		width: 100%;
		transition: all 0.03s ease-in;
		transform: translateX(-50%);
	}

	& ~ .ledger-line {
		display: block;
		width: 80%;
		left: 50%;
		transform: translateX(-50%);
		border-top: 1px solid black;
	}
}

$-notes: (c, d, e, f, g, a, b);
$-octaves: (4, 5);

$note-increments: 8.5;
$note-offset: (1 * $note-increments);

$octave-increments: (7 * $note-increments);
$octave-offset: -2;

$ledger-line-offset: 87;

@for $i from 1 through length($-notes) {
	$note: nth($-notes, $i);
	$offset: $note-offset - ($i * $note-increments);

	.note-#{$note}{
		&:before {
			top: #{$offset}px;
		}
		& ~ .ledger-line {
			top: #{$offset + $ledger-line-offset}px;
		}
	}
}

@for $i from 1 through length($-octaves) {
	$octave: nth($-octaves, $i);
	$offset: $octave-offset - (($i - 1) * $octave-increments);

	.octave-#{$octave}{
		&:before,
		& ~ .ledger-line {
			margin-top: #{$offset}px;
		}
	}
}
