.scale {
	position: relative;
	text-align: center;
	min-width: 460px;
}

.staff {
	width: 100%;
	margin-bottom: 2rem;
	position: absolute;

	.line {
		height: 1px;
		background: black;
		margin: 0 0 1rem;
	}
}

.clef {
	position: absolute;
	font-size: 9rem;
	top: -3rem;
}
