{
	"extends": "eslint:recommended",
	"parser": "babel-eslint",
	"ecmaFeatures": {
		"arrowFunctions": true,
		"binaryLiterals": false,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"generators": true,
		"modules": true,
		"objectLiteralComputedProperties": true,
		"objectLiteralDuplicateProperties": false,
		"objectLiteralShorthandMethods": true,
		"objectLiteralShorthandProperties": true,
		"octalLiterals": false,
		"regexUFlag": false,
		"regexYFlag": false,
		"restParams": true,
		"spread": true,
		"superInFunctions": true,
		"templateStrings": true,
		"unicodePointEscapes": true,
		"globalReturn": false,
		"jsx": true
	},
	"rules": {
		"quotes": [2, "single", { "allowTemplateLiterals": true }],
		"strict": [2, "global"],
		"eqeqeq": 2,
		"no-unused-vars": [2, {"vars": "all", "args": "none"}],
		"consistent-this": [2, "self"],
		"consistent-return": 0,
		"no-use-before-define": [2, "nofunc"],
		"camelcase": 0,
		"eol-last": [2, "always"],
		"no-console": 0,
		"curly": 2,
		"one-var": [2, "never"],
		"brace-style": [2, "1tbs", { "allowSingleLine": false }],
		"semi": [2, "always"],
		"comma-dangle": [2, "never"],
		"array-bracket-spacing": [2, "never"],
		"comma-spacing": [2, { "before": false, "after": true }],
		"func-call-spacing": [2, "never"],
		"key-spacing": [2, { "beforeColon": false }],
		"no-whitespace-before-property": "error",
		"spaced-comment": ["error", "always"],
		"space-unary-ops": "error",
		"space-infix-ops": "error",
		"space-in-parens": ["error", "never"],
		"space-before-function-paren": ["error", "never"],
		"space-before-blocks": ["error", { "functions": "always" }],
		"no-fallthrough": ["error", { "commentPattern": "break[\\s\\w]*omitted" }]
	},
	"globals": {
		"Handlebars": true,
		"fetchData": true,
		"fetchPostData": true
	},
	"env":{
		"browser": true,
		"es6": true,
		"node": true,
		"jasmine": true,
		"mocha": true
	}
}
