$-notes: (c, d, e, f, g, a, b);
$-octaves: (4, 5);

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.scale {
	position: relative;
	text-align: center;
}

.staff {
	width: 100%;
	margin-bottom: 2rem;

	.line {
		height: 1px;
		background: black;
		margin: 1rem 0;
	}
}

.notes {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.note {
	display: inline-block;
}

.note-button {
	width: 3rem;
	font-size: 2rem;

	&:before {
		// quarter note
		content: '♩';
		position: absolute;
		top: 0;
		font-size: 5rem;
		width: 3rem;
  	transform: translateX(-50%);
	}
}

$note-increments: 8.5;
$note-offset: (2 * $note-increments);

$octave-increments: (7 * $note-increments);
$octave-offset: -2;

@for $i from 1 through length($-notes) {
	$note: nth($-notes, $i);

	.note-#{$note}:before {
		top: #{$note-offset - ($i * $note-increments)}px;
	}
}

@for $i from 1 through length($-octaves) {
	$octave: nth($-octaves, $i);

	.octave-#{$octave}:before {
		margin-top: #{$octave-offset - (($i - 1) * $octave-increments)}px;
	}
}
