body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

main {
	padding: 1em;
	max-width: 980px;
	margin: 0 auto;
}

section {
	margin-bottom: 2em;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin support($feature) {
	html {
		.no-#{$feature} {
			display: none;
		}

		&.no-#{$feature} {
			.#{$feature} {
				display: none;
			}

			.no-#{$feature} {
				display: block;
			}
		}
	}
}

@include support('web-audio');
@include support('js');

@import 'music/notes';
@import 'music/staff';
