@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Arial', sans-serif; }

main {
  padding: 1em;
  max-width: 980px;
  margin: 0 auto; }

section + section {
  margin-top: 2em; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

html .no-web-audio {
  display: none; }

html.no-web-audio .web-audio {
  display: none; }

html.no-web-audio .no-web-audio {
  display: block; }

html .no-js {
  display: none; }

html.no-js .js {
  display: none; }

html.no-js .no-js {
  display: block; }

.notes {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.note {
  display: inline-block;
  position: relative; }

.note-button {
  position: relative;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  width: 3rem;
  padding: 7rem 0 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 1px solid black;
  -o-border-image: linear-gradient(to bottom, transparent 20%, black 100%);
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(black));
     border-image: linear-gradient(to bottom, transparent 20%, black 100%);
  border-image-slice: 1; }
  .note-button:active {
    color: black; }
    .note-button:active:before {
      -webkit-transform: translateY(-5%) translateX(-50%);
              transform: translateY(-5%) translateX(-50%); }
  .note-button:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 3px rgba(255, 192, 203, 0.5);
            box-shadow: 0 0 0 3px rgba(255, 192, 203, 0.5); }
  .note-button:before,
  .note-button ~ .ledger-line {
    position: absolute;
    top: 0;
    font-size: 5rem; }
  .note-button:before {
    content: '\2669';
    width: 100%;
    -webkit-transition: all 0.03s ease-in;
    transition: all 0.03s ease-in;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .note-button ~ .ledger-line {
    display: block;
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: 1px solid black; }

.note-c:before {
  top: 0px; }

.note-c ~ .ledger-line {
  top: 87px; }

.note-d:before {
  top: -8.5px; }

.note-d ~ .ledger-line {
  top: 78.5px; }

.note-e:before {
  top: -17px; }

.note-e ~ .ledger-line {
  top: 70px; }

.note-f:before {
  top: -25.5px; }

.note-f ~ .ledger-line {
  top: 61.5px; }

.note-g:before {
  top: -34px; }

.note-g ~ .ledger-line {
  top: 53px; }

.note-a:before {
  top: -42.5px; }

.note-a ~ .ledger-line {
  top: 44.5px; }

.note-b:before {
  top: -51px; }

.note-b ~ .ledger-line {
  top: 36px; }

.octave-4:before,
.octave-4 ~ .ledger-line {
  margin-top: -2px; }

.octave-5:before,
.octave-5 ~ .ledger-line {
  margin-top: -61.5px; }

.scale {
  position: relative;
  text-align: center;
  min-width: 460px; }

.staff {
  width: 100%;
  margin-bottom: 2rem;
  position: absolute; }
  .staff .line {
    height: 1px;
    background: black;
    margin: 0 0 1rem; }

.clef {
  position: absolute;
  font-size: 9rem;
  top: -3rem; }
