body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: system-ui, sans-serif; }

main {
  padding: 1em;
  max-width: 980px;
  margin: 0 auto; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

html .no-web-audio {
  display: none; }

html.no-web-audio .web-audio {
  display: none; }

html.no-web-audio .no-web-audio {
  display: block; }

html .no-js {
  display: none; }

html.no-js .js {
  display: none; }

html.no-js .no-js {
  display: block; }

.notes {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.note {
  display: inline-block;
  position: relative; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

.note-button {
  position: relative;
  font-size: 2rem;
  width: 3rem;
  padding: 8rem 0 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 1px solid black;
  -o-border-image: linear-gradient(to bottom, transparent 20%, black 100%);
     border-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(black));
     border-image: linear-gradient(to bottom, transparent 20%, black 100%);
  border-image-slice: 1; }
  .note-button:active:before {
    -webkit-animation: shake infinite 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
            animation: shake infinite 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; }
  .note-button:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 3px rgba(59, 153, 252, 0.5);
            box-shadow: 0 0 0 3px rgba(59, 153, 252, 0.5); }
  .note-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 3rem;
    height: 4.9rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("/src/images/quarter-note.svg"); }
  .note-button ~ .ledger-line {
    display: block;
    border-top: 1px solid black;
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.note-c:before {
  top: 55.5px; }

.note-c ~ .ledger-line {
  top: 118.5px; }

.note-d:before {
  top: 47px; }

.note-d ~ .ledger-line {
  top: 110px; }

.note-e:before {
  top: 38.5px; }

.note-e ~ .ledger-line {
  top: 101.5px; }

.note-f:before {
  top: 30px; }

.note-f ~ .ledger-line {
  top: 93px; }

.note-g:before {
  top: 21.5px; }

.note-g ~ .ledger-line {
  top: 84.5px; }

.note-a:before {
  top: 13px; }

.note-a ~ .ledger-line {
  top: 76px; }

.note-b:before {
  top: 4.5px; }

.note-b ~ .ledger-line {
  top: 67.5px; }

.octave-4:before,
.octave-4 ~ .ledger-line {
  margin-top: -2px; }

.octave-5:before,
.octave-5 ~ .ledger-line {
  margin-top: -61.5px; }

[name=C4] {
  color: #f9f900; }
  [name=C4]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(249, 249, 0, 0.5);
            box-shadow: 0 0 0 3px rgba(249, 249, 0, 0.5); }

[name=D4] {
  color: green; }
  [name=D4]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5);
            box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5); }

[name=E4] {
  color: red; }
  [name=E4]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
            box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5); }

[name=F4] {
  color: blue; }
  [name=F4]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5);
            box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.5); }

[name=G4] {
  color: purple; }
  [name=G4]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.5);
            box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.5); }

[name=A4] {
  color: orange; }
  [name=A4]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.5);
            box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.5); }

[name=B4] {
  color: pink; }
  [name=B4]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(255, 192, 203, 0.5);
            box-shadow: 0 0 0 3px rgba(255, 192, 203, 0.5); }

[name=C5] {
  color: silver; }
  [name=C5]:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(192, 192, 192, 0.5);
            box-shadow: 0 0 0 3px rgba(192, 192, 192, 0.5); }

.scale {
  position: relative;
  text-align: center;
  min-width: 460px; }

.staff {
  position: absolute;
  width: 100%;
  padding: 1rem 0; }
  .staff .line {
    height: 1px;
    background: black;
    margin: 1rem 0; }

.clef {
  position: absolute;
  top: 5px;
  width: 4rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/src/images/treble-clef.svg"); }
